<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Android Apps, Games and More{% endblock title %} | APKTau</title>
    {% block meta_desc %}{% endblock meta_desc %}
    {% block custom_css %}{% endblock custom_css %}
    {% block custom_js %}{% endblock custom_js %}
</head>
<body>
    <main>
        {% block main_content %}{% endblock main_content %}
    </main>
</body>
</html>